<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layout}">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, inital-scale=1.0"/>

</head>
<body>
<div layout:fragment="contents">
    <form method="post" th:action=@{/auth/login}>
	<h1 class="h3 mb-3 fw-normal text-center">Please Login</h1>

	<div class="mb-3 col-8">
	    <label class="form-label">ID (E-mail)</label>
	    <input type="text" name="memberId" class="form-control" aria-describedby="emailHelp">
	    <div id="emailHelp" class="form-text">We'll never share your ID with anyone else.</div>
	</div>

	<div class="mb-3 col-8">
		<label class="form-label"> Password </label>
		<input class="form-control" type="password" name="password">
	</div>

	<div class="nav justify-content-center col-8">
		<input class="btn btn-primary" type="submit" value="Login Complete">
	</div>

	<div class="form-check">
		<label class="form-check-label"> Auto Login </label>
		<input class="form-check-input" type="checkbox" name="useAutoLogin">
	</div>

	</form>

	<hr/>
	<div>
		<button class="btn btn-secondary py-2 my-2" type="button" onclick="location.href='javascript:history.back();'">Return to Previous Page</button>
		<button class="btn btn-info py-2 my-2" type="button" onclick="location.href='/board/list'">Back to List</button>
	</div>

</div>
</body>
</html>