<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layout}">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, inital-scale=1.0"/>
<title>Board Message</title>

</head>
<body>

<div layout:fragment="contents">

<div class="board-read-container" style="margin-bottom: 20px; background-color: #fff; border: 1px solid; width: 700px;">
    <div th:if="${not #strings.isEmpty(message)}">
	    <h2> [[${message}]]	</h2>
	</div>
</div>
<div>
<button type="button" onclick="location.href='/board/list'">Back to List</button>
</div>

<script th:inline="javascript">
/*<![CDATA[*/
var nextUrl = /*[[ ${nextUrl} ]]*/
/*]]*/

setTimeout(function() {
	window.location.href=nextUrl;
}, 3000);
</script>

</div>

</body>

</html>
