<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layout}">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, inital-scale=1.0"/>
<title>Board Write</title>

</head>
<body>

<div layout:fragment="contents">

    <form method="post" th:action=@{/board/delete/}>
    <input type="hidden" name="boardNo" th:value=${board.boardNo}>

    <fieldset>
    <legend class="text-center header">Delete Board</legend>

    <div class="board-read-header">
    <h5><label>  Do you Really want to delete contents ??  </label></h5><br/>
    <h5><label>【Title】 : [[${board.title}]]  </label></h5>
    </div>
    <hr/>

    <div class="form-group py-2">
    	<input type="submit" value="Delete Complete" class="btn btn-danger">
    </div>

    </fieldset>
    </form>

	<div>
		<button class="btn btn-info py-2 my-2" type="button" onclick="location.href='/board/list'">Back to List</button>
		<button class="btn btn-warning py-2 my-2" type="button" th:onclick="'location.href=\'' + @{/board/read/{boardNo}(boardNo=${board.boardNo})} +'\';'">Back to [[${board.boardNo}]]</button>
	</div>

</div>
</body>
</html>