<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, inital-scale=1.0"/>
</head>
<body>

<div>

<article class="blog-post">
    <div class="board-read-header">
    <h1 class="blog-post-title">[[${board.title}]]</h1>

    <hr/>

    <p class="blog-post-meta mt-2">Created at [[${board.createdTime}]] / Last Updated : [[${board.updatedTime}]]</p>

    </div>
    <hr/>
    <div class="mt-4 mb-5 px-2 py-2" style="width: 100%;">
        <div th:text="${board.contents}"></div>
    </div>
</article>
<div>
<button class="btn btn-info" type="button" onclick="location.href='/board/list'">Back to List</button>
<button class="btn btn-warning" type="button" th:onclick="'location.href=\'' + @{/board/update/{boardNo}(boardNo=${board.boardNo})} +'\';'">Update</button>
</div>

</div>
</body>
</html>