<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layout}">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, inital-scale=1.0"/>
</head>
<body>

<div layout:fragment="contents">

<article class="blog-post">
    <div class="board-read-header">
    <h1 class="blog-post-title">[[${board.title}]]</h1>

    <hr/>

    <p class="blog-post-meta mt-2">Created at [[${board.createdTime}]] / Last Updated : [[${board.updatedTime}]]</p>

    <div class="nav">
	    <div>
	        <p th:if="${not #strings.isEmpty(board.memberId)}" th:text="'By ' + ${board.memberId}"></p>
	    </div>
	    <div class="like-box-board ps-4">
	        <label id="likeCount">0</label> <a><img style="width: 2em; height: 2em;" class="likeImg-board" th:src="@{/images/like.png}" th:value="like"></a> &nbsp;&nbsp;
	        <label id="dislikeCount">0</label> <a><img style="width: 2em; height: 2em;" class="likeImg-board" th:src="@{/images/dislike.png}" th:value="dislike"></a>
	    </div>
    </div>

    </div>
    <hr/>
    <div class="mt-4 mb-5 px-2 py-2" style="width: 100%;">
        <div th:text="${board.contents}"></div>
    </div>
</article>
<div>
<button class="btn btn-info" type="button" onclick="location.href='/board/list'">Back to List</button>
<button class="btn btn-warning" th:if="${not #strings.isEmpty(session?.member?.memberId)} and ${session.member.memberId}==${board.memberId}"  type="button" th:onclick="'location.href=\'' + @{/board/update/{boardNo}(boardNo=${board.boardNo})} +'\';'">Update</button>
<button class="btn btn-danger" th:if="${not #strings.isEmpty(session?.member?.memberId)} and ${session.member.memberId}==${board.memberId}" type="button" th:onclick="'location.href=\'' + @{/board/delete/{boardNo}(boardNo=${board.boardNo})} +'\';'">Delete</button>
</div>

<div class="reply-container">
    <hr/>
    <div id="reply-header">
    </div>
    <div th:if="${not #strings.isEmpty(session?.member?.memberId)}" class="reply-footer-form">
      <form id="reply-form">
        <div class="form-group">
          <div class="reply-footer-form-contents">
            <textarea class="form-control" id="reply-contents" placeholder="Input Reply contents" rows="3"></textarea>
          </div>
          <div>
            <button class="btn btn-primary mt-3 px-2 py-2" type="button" id="reply-form-submit">Write Reply</button>
          </div>
        </div>
       </form>
    </div>

    <div id="reply-body" ></div>
    <div id="reply-paging" ></div>
    <div id="reply-footer">
        <div  th:if="${#strings.isEmpty(session?.member?.memberId)}" class="reply-footer-default">
            <label><a class="nav justify-content-center px-4" th:href="@{/auth/login}">Please login to reply.</a></label>
        </div>
    </div>
</div>

<!-- inline JavaScript must be located in layout:fragment="contents" -->
<script type="text/javascript" th:inline="javascript">

/*<![CDATA[*/
 var boardNo = /*[[ ${board.boardNo} ]]*/ "";
 var memberId = /*[[ ${session?.member?.memberId} ]]*/ "";
/*]]*/

/**
 * For reply and like function
 */

var baseApi  = "http://localhost:8080"
var replyApi = baseApi+"/reply"


// validation check
function validation(method, targetContents, targetMemberId) {
	if (targetContents == "") {
		alert("Reply content is empty!!");
		return false;
	}
	if (boardNo == "") {
		alert("Board Number is empty!!");
		return false;
	}
	if (method == 'c') {
		if (memberId == "") {
			alert("Please Login");
			return false;
		}
	} else if (method == 'u' || method == 'd') {
		if (memberId == "" || memberId != targetMemberId) {
			alert("Please Login memberId : "+memberId+", targetMemberId : "+targetMemberId);
			return false;
		}
	}

	return true;
}


// create reply
$(document).on("click", '#reply-form-submit', function() {
	alert("create reply")
	var contents = $("#reply-contents").val();

	if (!validation('c', contents, '')) {
		return;
	}

	var newReply = {
			"contents": contents,
			"boardNo" : parseInt(boardNo),
			"memberId": memberId
	}

	$.ajax({
		url: replyApi,
		method : 'POST',
		contentType : 'application/json; charset=UTF-8',
		data: JSON.stringify(newReply),
		success :  function(res){
			//alert(JSON.stringify(res));
			clearReplyInput();
			viewReplies(0);
		},
	    error: function(res){
	      //console.log("res : "+JSON.stringify(res));
	      alert(res.responseJSON.message+" ["+res.responseJSON.data+"]")
	    }
	});
});


// clear reply
function clearReplyInput() {
	$("#reply-contents").val('');
}


// view replies
function viewReplies(p) {
	if (p < 0) {
		p = 0;
	}

	$.ajax({
		//url: replyApi+'/list/'+boardNo,
		url: replyApi+'/list-v2/'+boardNo+'?page='+p+'&size=5',
		method : 'GET',
		dataType: 'json',
		success :  function(res){
			console.log(JSON.stringify(res.data))
			makeRepliesView(res.data.content);
			attachPaging(res.data);

		},
	    error: function(res){
		    //console.log("res : "+JSON.stringify(res));
		    alert(res.responseJSON.message+" ["+res.responseJSON.data+"]")
		}
	});
}


function makeRepliesView(replies){
	$("#reply-body").empty();
	var view = '';

	replies.forEach(function (reply){
		view = view + '<hr/><div>';
		view = view + '<form>';
		view = view + '<div>By <span id="reply-memberId_'+reply.replyNo+'" value='+reply.memberId+'>'+reply.memberId+'</span>';
        view = view + '</div>';
		view = view + '<div> Created at <span id="reply-createDate['+reply.replyNo+']">'+reply.createdTime+'</span></div>';

		if (reply.memberId == memberId) {
			view = view + '<div><textarea id="reply-contents_'+reply.replyNo+'" value='+reply.contents+' name="contents" class="form-control">'+reply.contents+'</textarea></div>';
			view = view + '<div><input type="hidden" name="memberId" value="'+reply.memberId+'"></div>';
			view = view + '<div><input type="hidden" name="replyNo" value="'+reply.replyNo+'"></div>';
			view = view + '<div><input type="button" class="btn btn-warning btn-sm" value="Update" onclick="updateReply(this.form);">&nbsp';
			view = view + '<input type="button" class="btn btn-danger btn-sm" value="Delete" onclick="deleteReply(this.form);"></div>';
		} else {
			view = view + '<div><textarea id="reply-contents_'+reply.replyNo+'" readonly="readonly" value='+reply.contents+' class="form-control">'+reply.contents+'</textarea></div>';
		}

		view = view + '</form>';
		view = view + '</div>';
	})

	//console.log(view);
	$("#reply-body").html(view);

}


function attachPaging(data) {

	$("#reply-paging").empty();
	var view = '';

	view = view + '<div id="paging-container" class="pagination nav justify-content-center px-4">';

	// (1) Prev
	if (data.first) {
		view = view + '<div class="page-item disabled">';
		view = view + '<span class="page-link">Prev</span>';
		view = view + '</div>';
	} else {
		view = view + '<div class="page-item">';
		view = view + '<a class="page-link" href="javascript:viewReplies('+ (data.number - 1) +');"><span>Prev</span></a>';
		view = view + '</div>';
	}

    // (2) Page Number
    for (var p=0; p < data.totalPages; p++) {
    	if (p === data.number) {
    		view = view + '<div class="page-item disabled">';
    		view = view + '<span class="page-link">['+ (p+1) +']&nbsp;</span>';
    		view = view + '</div>';
    	} else {
    		view = view + '<div class="page-item">';
    		view = view + '<a class="page-link" onclick="viewReplies('+ (p) +');"><span>['+ (p+1) +']</span></a>';
    		view = view + '</div>';
    	}
    }

    // (3) Next
	if (data.last) {
		view = view + '<div class="page-item disabled">';
		view = view + '<span class="page-link">Next</span>';
		view = view + '</div>';
	} else {
		view = view + '<div class="page-item">';
		view = view + '<a class="page-link" href="javascript:viewReplies('+ (data.number + 1) +');"><span>Next</span></a>';
		view = view + '</div>';
	}

	view = view + '</div>';

	$("#reply-paging").html(view);

	var replyCountView = '';
	if (0 < data.totalElements) {
		replyCountView = '<p>Reply '+data.totalElements+'</p>';
	} else {
		replyCountView = '<p>Not Exist Reply</p>';
	}

	$("#reply-header").html(replyCountView);
}


// When page loading, it requests data of reply to API.
$(document).ready(function() {
	viewReplies(0);
	viewLikeAndDislikeCount();
});


// update reply
function updateReply(form) {

	var replyNo = form.replyNo.value;
	var targetContents = form.contents.value;
	var targetMemberId = form.memberId.value;

	if (!validation('u', targetContents, targetMemberId)) {
		return;
	}

	var updateReply = {
			"replyNo" : parseInt(replyNo),
			"contents": targetContents,
			"boardNo" : parseInt(boardNo),
			"memberId": targetMemberId
	}

	console.log("Request data : "+JSON.stringify(updateReply))

	$.ajax({
		url: replyApi+'/'+replyNo,
		method : 'PUT',
		contentType : 'application/json; charset=UTF-8',
		data: JSON.stringify(updateReply),
		success :  function(res){
			alert(res.message+' Update Reply['+replyNo+']');
			viewReplies(0);
		},
	    error: function(res){
		    //console.log("res : "+JSON.stringify(res));
		    alert(res.responseJSON.message+" ["+res.responseJSON.data+"]")
		}
	});
}


// delete reply
function deleteReply(form) {

	var checkFromUser = confirm('Do you really want to delete this Reply');

	if (checkFromUser == false) {
		return false;
	}

	var replyNo = form.replyNo.value;
	var targetContents = form.contents.value;
	var targetMemberId = form.memberId.value;

	if (!validation('u', targetContents, targetMemberId)) {
		return;
	}

	console.log(replyApi+'/'+replyNo+'?boardNo='+boardNo+'&memberId='+memberId)

	$.ajax({
		url: replyApi+'/'+replyNo+'?boardNo='+boardNo+'&memberId='+memberId,
		method : 'DELETE',
		success :  function(res){
			alert(JSON.stringify(res.message+' Delete Reply'));
			viewReplies(0);
		},
	    error: function(res){
		    //console.log("res : "+JSON.stringify(res));
		    alert(res.responseJSON.message+" ["+res.responseJSON.data+"]")
		}
	});
}

var likeApi = baseApi+"/like"

//view board like
function viewLikeAndDislikeCount() {

	var likeApiGet = likeApi+'?targetNo='+boardNo+'&memberId='+memberId;

	$.ajax({
		url: likeApiGet,
		method : 'GET',
		dataType: 'json',
		success :  function(res){
			console.log(JSON.stringify(res.data))
			makeLikeAndDislikeCountView(res.data);
		},
	    error: function(res){
		    //console.log("res : "+JSON.stringify(res));
		    alert(res.responseJSON.message+" ["+res.responseJSON.data+"]")
		}
	});
}

function makeLikeAndDislikeCountView(data) {
	//alert(JSON.stringify(data))
	$("#likeCount").text(data.likeCount)
	$("#dislikeCount").text(data.dislikeCount)
}

//create or update board like
$(document).on("click", '.likeImg-board', function() {
	createOrUpdateLike($(this).attr('value'), parseInt(boardNo));
});

function createOrUpdateLike(status, targetNo) {

	var likeStatus = false
	if (status === 'like') {
		likeStatus = true;

	} else if (status === 'dislike') {
		likeStatus = false;

	} else {
		alert("function error");
		return;
	}

	if ( !memberId ) {
		alert("Please do login. like fuction can be used by login user only.");
		return;
	}

	var likeObj = {
			"likeStatus" : likeStatus,
			"targetNo" : targetNo,
			"memberId": memberId
	}

	console.log("createOrUpdateLike Request data : "+JSON.stringify(updateReply))

	$.ajax({
		url: likeApi,
		method : 'POST',
		contentType : 'application/json; charset=UTF-8',
		data: JSON.stringify(likeObj),
		success :  function(res){
			alert(res.message+' Update Like : ['+targetNo+']');
			viewLikeAndDislikeCount();
		},
	    error: function(res){
		    alert(res.responseJSON.message+" ["+res.responseJSON.data+"]")
		}
	});
}

</script>

</div>
</body>
</html>